pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
missingno==0.5.2

meteostat==2.1.4
statsmodels==0.14.2
xgboost==2.0.3
scikit-learn==1.4.2

utilsforecast==0.1.10
statsforecast==1.7.5
fpppy==0.1.5
